/*CSS File For Sign-Up webpage*/
*
{
    box-sizing: border-box;
}
body {
    height:100%;
    margin: 0;
}
/* Style the header */
.header{

    background-color: burlywood;
    /*    padding: 0px;*/
    text-align: center;
    padding-top: 1cm;
    font: cursive;
    color: maroon;
    font-family: "Times New Roman", Georgia, serif;
    /*    background-color: whitesmoke;*/
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    font-style:italic;
    font-size:larger;
}

/*header.serif {
    font-family: "Times New Roman", Times, serif;
}*/

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: brown;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Style the topnav links */
.topnav a {
    float :left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color:saddlebrown;
}

#body-color{ 
    background-image: url("bg.jpg");
    opacity:0.9;
    background-color:whitesmoke;
    background-repeat:repeat;
    overflow: scroll;
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#send{
    background-size:500px 500px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    font: ultra-condensed italic small-caps bolder, Georgia, sans-serif;
    color:saddlebrown ;
    margin: auto;
    padding:150px 250px;
}
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
    height: 1500px;
}

h{
    padding-left: 40px;
    font-size:60px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color:maroon;
}


pre{

    font-size:20px;
    font-family: "Times New Roman", Times, serif;
    font-style:oblique;
    color:maroon;
    font-weight:bold;
} 

.slideshow-container
{
    max-width: 75%;
    max-height: 50%;
    opacity: 1;
    padding-left: 350px;
    border:saddlebrown;
    border-color: saddlebrown;




}
.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color:saddlebrown;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
